.inline-title-with-add-ons-container{
    display: flex;
    
    .with-add-ons{
        white-space: nowrap;
        @media screen and (max-width: 400px) {
            max-width: fit-content;
        }
    }

    .add-ons {
        padding-bottom: 0.5em;
        padding-top: 16px;    
        margin-left: 1em;
        max-width: fit-content;
        display: flex;

        @media screen and (max-width: 400px) {
            max-width: fit-content;
            padding-top: 0px;  
            padding-bottom: 0em;  
        }

        .add-on{
            margin: 0 0.7em;
        }
    }
}